<div id="characterSheet">
<div id ="characterName">
<table id="name">
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.name }}</th>
  <th>{{ hahmo.surname }}</th>
</tr>
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.playerName }}</th>
  <th>{{ hahmo.playerSurname }}</th>
</tr>
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.caste }}</th>
</table>
<table id="name2">
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.characterConsept }}</th>
</tr>
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.motivation }}</th>
</tr>
<tr ng-repeat="hahmo in character">
  <th>{{ hahmo.anima }}</th>
</tr>
</table>
 <!--<ul>
<li ng-repeat="hahmo in hahmot"> {{ hahmo }} {{ hahmo.name }} {{ hahmo.characterClass }} </li>
</ul>
<input type="text" ng-model="hahmonNimi" >
-->
</div>
<div id ="characterAtributes">
characterAtributes
<!--<ul>
<li ng-repeat="hahmo in hahmot"> {{ hahmo }} {{ hahmo.name }} {{ hahmo.characterClass }} </li>
</ul>
<input type="text" ng-model="hahmonNimi" >
-->
</div>
<div id ="characterAbilities">
characterAbilities
<!--<ul>
<li ng-repeat="hahmo in hahmot"> {{ hahmo }} {{ hahmo.name }} {{ hahmo.characterClass }} </li>
</ul>
<input type="text" ng-model="hahmonNimi" >
-->
</div>
<div id ="characterCombat">
characterCombat
<!--<ul>
<li ng-repeat="hahmo in hahmot"> {{ hahmo }} {{ hahmo.name }} {{ hahmo.characterClass }} </li>
</ul>
<input type="text" ng-model="hahmonNimi" >
-->
</div>
<div id ="characterMisc">
characterMisc
<!--<ul>
<li ng-repeat="hahmo in hahmot"> {{ hahmo }} {{ hahmo.name }} {{ hahmo.characterClass }} </li>
</ul>
<input type="text" ng-model="hahmonNimi" >
-->
</div>



</div>
