div#characterSheet
{
	<!--background-image: url(../images/solar_exalted_character_sheet.jpg);-->
	min-height: 1550px;
	width: 1200px;
	background-repeat:no-repeat;
}

div#characterName
{
	background: rgba(255, 198, 0, 0.6);
	min-height: 230px;
	min-width: 1200px;
}
table#name{
	width:200px;
	margin-left:520px;
	margin-top:105px; 
	font-size:22px;
	display: inline-block;
}
table#name2{
	width:200px;
	margin-left:200px;
	margin-top:105px; 
	font-size:22px;
	display: inline-block;
}

div#characterAtributes
{
	background: rgba(191, 159, 48, 0.6);
	min-height: 120px;
	min-width: 1200px;
	display: inline-block;
}
div#characterAbilities
{
	background: rgba(166, 129, 0, 0.6);
	min-height: 380px;
	min-width: 1200px;
	display: inline-block;
}
div#characterCombat
{
	background: rgba(255, 212, 64, 0.6);
	min-height: 300px;
	min-width: 1200px;
	display: inline-block;
}
div#characterMisc
{
	background: rgba(255, 224, 115, 0.6);
	min-height: 480px;
	min-width: 1200px;
	display: inline-block;
}